<div class="mt-5 ml-10">

  <mat-form-field>
    <mat-label>Filtrar por género:</mat-label>
    <mat-select [formControl]="generosControl" multiple>
      <mat-option *ngFor="let genero of generosDisponibles" [value]="genero">{{ genero }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filtrar por Año:</mat-label>
    <mat-select [formControl]="annosControl" multiple>
      <mat-option *ngFor="let anno of annosDisponibles" [value]="anno">{{ anno }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="filtrar()">Filtrar</button>
</div>


<div class="mt-10">
  <div class="text-white text-2xl ml-10">BIBLIOTECA DE ANIMES</div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5 mt-10" infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       (scrolled)="onScroll()">
    <ng-container *ngFor="let anime of animes">
      <a (click)="verAnime(anime)">
        <div class="relative overflow-hidden w-60 h-80 rounded-3xl cursor-pointer text-2xl font-bold bg-[#1a1e2b]">
          <div class="z-10 absolute w-full h-full peer"></div>
          <div class="absolute peer-hover:-top-20 peer-hover:-left-16 peer-hover:w-[140%] peer-hover:h-[140%] -top-60 -left-16 w-32 h-44 rounded-full bg-transparent backdrop-blur-md transition-all duration-500"></div>
          <div class="absolute flex items-center justify-center peer-hover:right-0 peer-hover:bottom-0 peer-hover:items-center peer-hover:justify-center peer-hover:w-full peer-hover:h-full -bottom-[40rem] -right-16 w-36 h-44 bg-transparent backdrop-blur-md transition-all duration-500 rounded-none peer-hover:rounded-b-none" style="pointer-events: auto;">
            <div class="overflow-y-auto max-h-full ml-4">
              {{ getShortSynopsis(anime.sipnosis) }}
            </div>
          </div>
          <div class="w-full h-full items-center justify-center flex uppercase">
            <img src="{{ anime.foto }}" alt="{{ anime.nombre_original }}" class="rounded-xl w-full h-full object-cover">
          </div>
        </div>
        <div class="text-white">{{ anime.nombre_original_sin_kanji | truncate:24 }}</div>
      </a>
    </ng-container>
  </div>
</div>
