<div class="bg-gray-300 rounded-lg shadow-md p-4">

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Nombre Column -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element" class="p-2 border-t">{{element.usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="total_vistos">
      <th mat-header-cell *matHeaderCellDef> Total Animes Completados </th>
      <td mat-cell *matCellDef="let element" class="p-2 border-t">{{element.total_vistos}}</td>
    </ng-container>


    <!-- Define las filas y columnas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
</div>
