
<div *ngIf="isLoading">
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <span class="loading loading-spinner text-error loading-lg"></span>
  </div>
</div>





<div *ngIf="favoritos && favoritos.length > 0">
  <h2>Mis Favoritos</h2>
  <ul>
    <li *ngFor="let favorito of favoritos">
      <!-- Aquí puedes mostrar los detalles del anime -->
      <a (click)="verAnime(favorito)">
      <img [src]="favorito.foto" alt="{{favorito.nombre_original}}">
      <h3>{{favorito.nombre_original}}</h3>
      <p>{{favorito.sipnosis}}</p>
      </a>
      <!-- Agrega más detalles según sea necesario -->
    </li>
  </ul>
</div>



<div *ngIf="!favoritos || favoritos.length === 0">
  <div *ngIf="isLoading">
</div>
  </div>
