


<div  class="ocultar" >

<div class="fixed bottom-0 left-0 text-white">
<br>

  <div *ngIf="!montarinfouser" class="ml-20 mb-20">
    <!-- Botón de inicio de sesión Discord -->
    <button *ngIf="!mostrarFormularioNormal" data-v-0fc51e59="" class="cut-text flex h-10 items-center gap-1 rounded px-2 text-lg font-bold"
            style="background: linear-gradient(121deg, rgb(88, 101, 242) 0%, rgb(64, 78, 237) 100%);">
      <i [innerHTML]="ICONO_DISCORD"></i> <a href="http://localhost/api/logindiscord"> INICIO DISCORD</a>
    </button>

    <!-- Botón y formulario de inicio de sesión normal -->
    <div *ngIf="mostrarFormularioNormal" class="-ml-12">
      <form (ngSubmit)="login()" >
        <div class="mb-2">
          <label class="input input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" /></svg>
            <input [(ngModel)]="credenciales.login" name="name" class="grow" placeholder="Username" />
          </label>

        </div>
        <div class="mb-2">
          <label class="input input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" /></svg>
            <input  [(ngModel)]="credenciales.pass" name="password" type="password" class="grow" placeholder="contraseña" />
          </label>

        </div>

        <button class="btn btn-outline btn-primary" type="submit">Iniciar sesión</button>

        <button class="btn btn-outline btn-error ml-5" (click)="cancelarInicioSesion()">Cancelar</button>
      </form>

    </div>

    <!-- Ocultar el botón "Inicio normal" cuando se inicia sesión -->
    <div *ngIf="!mostrarFormularioNormal">
      <button (click)="mostrarFormulario()">
        Inicio sesión normal
      </button>
    </div>
  </div>

  <div *ngIf="montarinfouser">
    <div class="relative left-10 bottom-5">
      <!-- Avatar y nickname -->
      <div class="absolute -top-24 left-5 p-4 text-white z-10">
        <img [src]="(datosUsuario$ | async)?.avatar" class="rounded-xl" alt="" height="132px" width="131px" >
      </div>

      <!-- Imagen de fondo con filtro de desenfoque -->
      <div class="rounded-xl overflow-hidden" style="width: 200px; height: 250px;">
        <img src="assets/imagenes/animacion.webp" class="w-full h-full" style="filter: blur(15px);">
      </div>

      <!-- Botón de cerrar sesión -->
      <button class="absolute top-40 left-5 p-4 bg-gray-300 bg-opacity-60 text-white rounded-2xl" (click)="logout()">
        Cerrar sesión
      </button>
    </div>
  </div>

  <div *ngIf="!montarinfouser && !isLoading">
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
      <span class="loading loading-spinner text-secondary loading-lg"></span>
    </div>
  </div>
</div>
</div>
